@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$mainFont: "DM Serif Display", serif;
$subFont: "Karla", sans-serif;
$darkGray: hsl(270, 9%, 17%);

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  width: 100%;
  z-index: 5;
  position: fixed;
  background-color: white;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    overflow: hidden;
    li {
      display: block;
      a {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        color: hsl(273, 4%, 51%);
        font-family: $subFont;
        font-weight: 700;
        &:hover {
          color: $darkGray;
        }
      }
      &:nth-child(4) {
        a {
          color: $darkGray;
          border: 2px solid $darkGray;
          &:hover {
            background-color: $darkGray;
            color: white;
          }
        }
      }
    }
    .menu {
      display: none;
    }
  }
}

.intro {
  width: 100%;
  height: 80vh;
  background-color: hsl(256, 26%, 20%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .textContent {
    padding: 100px;
    width: 50%;
    .rule {
      background-color: white;
      height: 2px;
      width: 200px;
    }
    h1 {
      padding-top: 40px;
      color: white;
      font-family: $mainFont;
      font-size: 4rem;
    }
    p {
      color: white;
      font-family: $subFont;
      font-size: 1rem;
      line-height: 20px;
    }
    button {
      margin-top: 20px;
      display: inline-block;
      padding: 10px 30px;
      color: white;
      background-color: transparent;
      border: 2px solid white;
      font-family: $subFont;
      font-size: 0.9rem;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 700;
      &:hover {
        background-color: white;
        color: hsl(256, 26%, 20%);
        font-weight: 700;
      }
    }
  }
  .imageFile {
    width: 50%;
    img {
      padding: 10%;
      width: 100%;
      transform: translateY(170px);
    }
  }
  .bg1 {
    position: absolute;
    top: 0;
    right: 0;
    height: 90%;
  }
  .bg2 {
    position: absolute;
    top: 450px;
    left: 0;
    height: 90%;
  }
}

.main-content {
  width: 100%;
  margin-top: 400px;
  padding: 100px;
  .rule {
    width: 200px;
    height: 1px;
    background-color: hsl(256, 26%, 20%);
  }
  h1 {
    font-family: $mainFont;
    color: $darkGray;
    font-size: 4.5rem;
    padding-bottom: 100px;
  }
  .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    .box {
      padding: 20px;
      h2 {
        padding: 10px 0;
        font-size: 2rem;
        font-family: $mainFont;
        color: $darkGray;
        font-weight: 400;
      }
      p {
        font-family: $subFont;
        color: hsl(273, 4%, 51%);
      }
    }
  }
}

article {
  padding: 100px;
  .banner {
    width: 100%;
    height: 300px;
    background-color: hsl(256, 26%, 20%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    background-image: url("./images/bg-pattern-how-we-work-desktop.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    overflow: hidden;
    h1 {
      width: 50%;
      color: white;
      font-family: $mainFont;
      font-size: 4rem;
      font-weight: 400;
    }
    button {
      margin-right: 100px;
      display: block;
      padding: 10px 20px;
      font-family: $subFont;
      font-size: 1.1rem;
      border: 2px solid white;
      background-color: transparent;
      color: white;
      font-weight: bolder;
      &:hover {
        background-color: white;
        color: $darkGray;
        cursor: pointer;
      }
    }
  }
}

footer {
  width: 100%;
  height: auto;
  background-color: hsl(0, 0%, 98%);
  padding: 50px 150px;
  background-image: url("./images/bg-pattern-footer-desktop.svg");
  background-repeat: no-repeat;
  background-size: 500px;
  background-position-x: left;
  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .social-media {
      display: flex;
      align-items: center;
      span {
        display: block;
        padding: 10px;
        font-size: 1.5rem;
        color: hsl(273, 4%, 51%);
        &:hover {
          color: hsl(270, 9%, 17%);
          cursor: pointer;
        }
      }
    }
  }
  hr {
    opacity: 0.4;
    margin: 20px 0;
  }
  .links-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    .link {
      padding: 20px;
      display: flex;
      flex-direction: column;
      span {
        font-family: $subFont;
        padding: 10px 0;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 700;
        color: $darkGray;
        &:first-child {
          padding-bottom: 20px;
          color: hsl(273, 4%, 51%);
          font-size: 1.1rem;
          &:hover {
            text-decoration: none;
            cursor: text;
          }
        }
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: hsl(270, 9%, 17%);
  opacity: 0;
  animation: appear 0.5s forwards;
  display: none;
  padding: 100px 20px;
  p {
    color: white;
    font-family: $subFont;
    font-weight: 700;
    padding: 20px 0;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    &:last-child {
      border: 3px solid white;
      &:hover {
        background-color: white;
        color: hsl(270, 9%, 17%);
      }
    }
  }
}
.open {
  display: block;
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1162px) {
  article {
    .banner {
      h1 {
        font-size: 3rem;
      }
    }
  }
}

@media screen and (max-width: 1030px) {
  .intro {
    .imageFile {
      img {
        transform: translateY(10%);
      }
    }
  }
}

@media screen and (max-width: 1162px) {
  article {
    .banner {
      height: auto;
      flex-direction: column;
      justify-content: center;
      padding: 20px 100px;
      h1 {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
      }
      button {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 852px) {
  .intro {
    flex-direction: column-reverse;
    height: auto;
    .textContent {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      padding: 20px;
      background-image: url("./images/bg-pattern-intro-right-mobile.svg");
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: 100px;
    }
    .imageFile {
      img {
        transform: translateY(0);
        padding: 0;
      }
    }
    .bg1,
    .bg2 {
      display: none;
    }
  }

  .main-content {
    margin-top: 20px;
  }

  footer {
    padding: 50px;
  }
}

@media screen and (max-width: 738px) {
  nav {
    .navLinks {
      li {
        display: none;
        &:last-child {
          display: block;
          cursor: pointer;
        }
      }
    }
  }
  .main-content {
    padding: 100px 20px;
    .rule {
      margin: 0 auto;
    }
    h1 {
      text-align: center;
      padding-bottom: 50px;
      font-size: 3.5rem;
    }
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 3;
      .box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
      }
    }
  }

  article {
    padding: 100px 20px;
  }
}

@media screen and (max-width: 562px) {
  article {
    .banner {
      background-size: cover;
    }
  }

  footer {
    .links-container {
      height: auto;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 2;
    }
  }
}

@media screen and (max-width: 410px) {
  .intro {
    .textContent {
      h1 {
        font-size: 3rem;
      }
    }
    .imageFile {
      width: 100%;
    }
  }

  footer {
    .heading {
      flex-direction: column;
      .social-media {
        padding-top: 20px;
      }
    }
    .links-container {
      height: auto;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 4;
      .link {
        justify-content: center;
        align-items: center;
      }
    }
  }
}
